/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Define custom font Smooth Fantasy */
@font-face {
    font-family: 'Smooth Fantasy';
    src: url(Smooth\ Fantasy.woff);
    font-weight: normal;
    font-style: normal;
}

/* Global styles for all elements */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Base styles for html and body */
html, body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}

/* Body background color */
body {
    background-color: #fff;
}

/* Container for spacing top margin */
.container {
    margin-top: 60px; 
}

/* Customize scrollbar appearance */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb { 
    background: linear-gradient(to right, #00093c, #2d0b00);
}

::-webkit-scrollbar-track {
    background-color: #FFF3E0; 
}

#Home {
    position: relative;
    width: 100%;
    height: auto;  
    background-color: transparent;
    overflow: hidden; 
}

/* Back to top button styling */
#back-to-top {
    position: fixed;
    bottom: 20px; 
    right: 15px;  
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 30px; 
    border-radius: 50%; 
    text-decoration: none;
    transition: background-color 0.5s ease, margin-bottom 0.3s ease; 
    z-index: 9999; 
    display: none;
}

/* Back to top button i styling */
#back-to-top i {
    font-size: inherit;
    line-height: 1;
}

/* Back to top button target styling */
#back-top-top:target {
    display: flex;
}

/* Hover effect for back-to-top button */
#back-to-top:hover {
    margin-bottom: 5px; 
}


/* Header section */
.header {
    position: relative;
    background-image: url('Images/header.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header > * {
    position: relative;
    z-index: 2;
}

.header .lead {
    color: white !important; 
}


/* Logo styling */
.logo-wrapper .logo {
    max-width: 200px;
}

/* Two Logos styling */
.logo-wrapper .logo, 
.logo-wrapper .logo2 {
    height: auto;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

/* Logo 2 styling */
.logo-wrapper .logo2 {
    max-width: 48px;
}

/* Hover effect on logo */
.logo-wrapper:hover .logo, 
.logo-wrapper:hover .logo2 {
    transform: scale(1.1);
}

/* Logo container */
.logo-wrapper {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-left: 7.5%;
}

/* Logo animation effect */
.logo-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
    z-index: 1;
}

/* Navigation bar */
nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 75px; 
    background-color: #00093c;
    z-index: 1000; 
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Navigation list */
nav ul {
    display: flex; 
    align-items: center; 
    margin: 0;
    padding: 0; 
    list-style: none;
    height: 100%;
    position: relative;
    top: auto; 
    z-index: 13; 
}
/* Navigation list items */
nav ul li {
    position: relative;
    margin: 0 15px; 
    border-radius: 8px; 
    overflow: hidden;
    transition: background 0.2s ease;
    line-height: 40px;
    color: white; 
    font-size: 16px;
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

/* Hover effect on nav items */
nav ul li:hover {
    background: rgba(255, 255, 255, 0.2); 
}

/* Nav links */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 1; 
    position: relative;
    display: inline-block;
    padding: 5px 10px; 
    transition: color 0.25s ease;
    z-index: 2;
    align-items: center; 
    gap: 8px; 
    transition: color 0.25s ease, transform 0.5s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Hover and focus effect on nav links */
nav ul li:hover a,
nav ul li:focus-within a  {
    color: #FFF8E1;
    transform: scale(1.04); 
    font-weight: bold;
}

/* Active nav link styling */
nav ul li a.active {
    color: #000;
}

/* Active link before element */
nav ul li a.active::before {
    opacity: 1;
    transform: scale(1);
}

/* Target link styling */
nav ul li a:target {
    color: #000; 
}

/* Target link before element */
nav ul li a:target::before {
    opacity: 1;
    transform: scale(1); 
}

/* Hamburger menu styling */
.hamburger {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 1001;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background: white;
    transition: all 0.3s ease;
}

/* Hidden class for horizontal animation from left*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.2s ease;
}

/* Alternative hidden class for horizontal animation from right*/
.hidden2 {
    opacity: 1;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.2s ease;
}

/* Another hidden class for vertical movement */
.hidden3 {
    opacity: 1;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1.2s ease;
}

/* Show class for visible content */
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.2s ease;
}


/* Footer styling */
footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 60px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 60px;
}

/* Footer hyperlink for hover*/
footer a {
    transition: transform 0.3s ease;
    display: inline-block; 
}

/* Footer link hover effect */
footer a:hover {
    transform: scale(1.2); 
}

/* Row styling for flexible layout */
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

/* Column styling for grid layout */
.col {
    flex-basis: 25%;
    padding: 10px;
}

/* First column special width */
.col:first-child {
    flex-basis: 15%;
}

/* Last column special width */
.col:last-child {
    flex-basis: 15%;
    padding-left: 30px;
}

/* Middle columns special padding */
.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
    padding-left: 50px;
}

/* Footer logo styling */
.logo-footer {
    width: 80px;
    margin-bottom: 30px;
}

/* Column h3 styling */
.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}

/* Column paragraph styling */
.col p {
    margin: 0;
    text-align: justify;
}

/* Email id styling */
.col p.email-id {
    margin: 0;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

/* Column unordered list styling */
.col ul {
    padding: 0; 
    margin: 0; 
    list-style: none;
}

/* List item styling in column */
.col ul li {
    list-style: none;
    margin-bottom: 12px;
    padding-right: 0;
}

/* Link styling in column */
.col ul li a {
    text-decoration: none;
    color: #fff;
}

/* Form styling */
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

/* Icon styling in form */
form .bx {
    font-size: 18px;
    margin-right: 10px;
}

/* Form input styling */
form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

/* Form button styling */
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    align-self: flex-end; 
    margin-bottom: -5px;
}

/* Button icon styling */
form button .bx {
    font-size: 30px;
    color: #ccc;
    margin-right: -11px;
}

/* Social icon styling */
.social-icons .bx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

/* Social icon hover effect */
.social-icons .bx:hover {
    transform: scale(1.2);
}

/* Horizontal rule styling */
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid  #ccc;
    margin: 25px auto;
}

/* Copyright text styling */
.copyright {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

/* Underline styling */
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
}

/* Moving span inside underline */
.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

/* Moving animation for underline */
@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

/* Rightward show animation */
@keyframes showRight {
    100% {
       width: 0;
    }
}

/* Card Hover Effect */
.card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    transition: transform 0.2s; /* Smooth transition effect */
  }
  
/* For Smaller Screens Desktop*/
@media only screen and (max-width: 1439px)  {

    /* Reset margin, padding, and width for html and body */
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* Hamburger menu style */
    .hamburger {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: #00093c;
    }

    /* Hamburger lines */
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }

    /* Navigation menu (hidden by default) */
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 0; 
        margin: 0;  
        z-index: 999;
    }
    
    /* Display menu when active */
    nav ul.active {
        display: flex;
        height: auto;  
    }
    
    /* Navigation items spacing */
    nav ul li {
        margin: 10px 0;
    }
    
    /* Header text and buttons */
    .header-text {
        text-align: center; 
        margin-top: 20px;
    }

    /* Header subtitle styling */
    .header-text h2 {
        font-size: 1.8rem; 
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 215px;
    }

    /* Header main title styling */
    .header-text h1 {
        font-size: 2.8rem; 
        font-weight: 700;
        text-align: center;
        position: absolute;
        top: 270px;
    }
    
    /* Button box layout */
    .header-text .btn-box {
        position: relative;
        top: 10px; 
        display: flex;
        justify-content: center; 
        gap: 40px;
        margin-top: 50px;
    }

    /* Button styles */
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        border: solid;
        border-radius: 8px;
        font-size: 19px;
        border: 2px solid white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .7s ease;
    }
    
    /* Home icons layout */
    .home-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 32px; 
        position: relative;
        overflow: visible;
    }
    
    /* Home icons styling */
    .home-icons img {
        width: 40px; 
        height: 40px;
        object-fit: contain;
        transition: transform 0.3s ease; 
        position: relative;
    }

    /* Home icons hover effect */
    .home-icons img:hover {
        transform: scale(1.2);
    }
    
    /* Header container styling */
    .header {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    /* Social icons layout */
    .social-icons {
        display: flex;       
        align-items: center;   
        justify-content: flex-start;
    }
    
    /* Social icon styles */
    .social-icons .bx {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
        color: #000;
        background: #fff;
        margin-right: 15px;  
        cursor: pointer;
    }
    
    /* Last social icon margin adjustment */
    .social-icons .bx:last-child {
        margin-right: 0;
    }

    /* Hamburger menu open state (transforming lines) */
    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    /* Hide the middle line of the hamburger*/
    .hamburger.open span:nth-child(2) {
        opacity: 0; 
    }

    /* This is the bottom line of the hamburger*/
    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

/* For Tablet Screens*/
@media only screen and (min-width: 767px) and (max-width: 1024px) {

    /* Reset margin, padding, and width for html and body */
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* Hamburger menu style */
    .hamburger {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: #00093c;
    }

    /* Hamburger lines */
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }

    /* Navigation menu (hidden by default) */
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 0; 
        margin: 0;  
        z-index: 999;
    }
    
    /* Display menu when active */
    nav ul.active {
        display: flex;
        height: auto;  
    }
    
    /* Navigation items spacing */
    nav ul li {
        margin: 10px 0;
    }

    /* Header text and buttons */
    .header-text {
        text-align: center; 
        margin-top: 20px;
    }

    /* Header subtitle styling */
    .header-text h2 {
        font-size: 1.6rem; 
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 215px;
    }

    /* Header main title styling */
    .header-text h1 {
        font-size: 2.3rem; 
        color: #fff;
        font-weight: 700;
        text-align: center;
        position: absolute;
        top: 270px;
    }

    /* Button box layout */
    .header-text .btn-box {
        position: relative;
        top: 10px; 
        display: flex;
        justify-content: center; 
        gap: 40px;
        margin-top: 50px;
    }

    /* Button styles */
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 50px;
        border: solid;
        border-radius: 8px;
        font-size: 19px;
        border: 2px solid white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .7s ease;
    }

    /* Home icons layout */
    .home-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 32px; 
        position: relative;
        overflow: visible;
    }
    
    /* Home icons styling */
    .home-icons img {
        width: 40px; 
        height: 40px;
        object-fit: contain;
        transition: transform 0.3s ease; 
        position: relative;
    }

    /* Home icons hover effect */
    .home-icons img:hover {
        transform: scale(1.2);
    }
    
    /* Header container styling */
    .header {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    /* Positioning social icons and the newsletter fill up form */
    .col:nth-last-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; 
        margin: 0 auto; 
    }

    /* Newsletter fill up form */
    .col:nth-last-child(1) form {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        width: 100%;
    }

    /* Social icons styling*/
    .col:nth-last-child(1) .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px; 
    }

    /* Hamburger menu open state (transforming lines) */
    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    /* Hide the middle line of the hamburger*/
    .hamburger.open span:nth-child(2) {
        opacity: 0; 
    }

    /* This is the bottom line of the hamburger*/
    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}

/* For Mobile Phone Screens*/
@media only screen and (min-width: 425px) and (max-width: 768px) {

    /* Reset margin, padding, and width for html and body */
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* Hamburger menu styling */
    .hamburger {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
        background-color: #00093c;
    }

    /* Hamburger menu lines styling */
    .hamburger span {
        width: 100%;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }

    /* Home icons layout for mobile */
    .home-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        width: 100%;
        left: 5px;
    }

    /* Home icon text styling */
    .home-icons a {
        font-size: 1.5rem; 
        color: #fff;
    }

    /* Navigation menu styling (hidden by default) */
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 0; 
        margin: 0;  
        z-index: 999;
    }
    
    /* Display menu when active */
    nav ul.active {
        display: flex;
        height: auto;  
    }
    
    /* Navigation items spacing */
    nav ul li {
        margin: 10px 0;
    }

    /* Header text styling */
    .header-text {
        text-align: center; 
        margin-top: 20px;
    }

    /* Header subtitle styling */
    .header-text h2 {
        font-size: 1.3rem; 
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 215px;
    }

    /* Header main title styling */
    .header-text h1 {
        font-size: 1.7rem; 
        color: #fff;
        font-weight: 700;
        text-align: center;
        position: absolute;
        top: 270px;
    }
    
    /* Button box layout */
    .header-text .btn-box {
        position: relative;
        top: 10px; 
        display: flex;
        justify-content: center; 
        gap: 40px;
        margin-top: 50px;
    }

    /* Button styling */
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 45px;
        border: solid;
        border-radius: 8px;
        font-size: 16px;
        border: 2px solid white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .7s ease;
    }
    
    /* Home icons layout */
    .home-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 32px; 
        position: relative;
        overflow: visible;
    }
    
    /* Home icon styling */
    .home-icons img {
        width: 40px; 
        height: 40px;
        object-fit: contain;
        transition: transform 0.3s ease; 
        position: relative;
    }

    /* Home icon hover effect */
    .home-icons img:hover {
        transform: scale(1.2);
    }
  
    /* Full-screen header styling */
    .header {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    /* Footer position fix */
    footer {
        bottom: unset;
    }

    /* Column flexbox adjustments */
    .col {
        flex-basis: 100%;
        margin-right: 50px;
    }

    /* Additional padding for specific columns */
    .col:first-child, .col:nth-child(2), .col:nth-child(3) {
        padding-left: 30px;
    }

    /* Adjusting flex-basis for the second and third columns */
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }

    /* Hamburger menu open state (transforming lines) */
    .hamburger.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    /* Hide the middle line of the hamburger*/
    .hamburger.open span:nth-child(2) {
        opacity: 0; 
    }

    /* This is the bottom line of the hamburger*/
    .hamburger.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}
